.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.todo-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: calc(25%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Gölge ekleme */
}
.todo-card.completed {
  background-color: #f0f0f0; /* Tamamlanan görevlerin arka plan rengi */
}

.todo-content {
  display: flex;
  flex-direction: column;
}

.todo-content-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.todo-details {
  display: flex;
  flex-direction: column;
}

.todo-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.todo-detail-title {
  font-weight: bold;
  margin-right: 5px;
}

.todo-text {
  cursor: pointer;
  font-size: 13px;
}

.todo-text-date {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.todo-text-value {
  font-size: 14px;
  margin-bottom: 5px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.delete-btn {
  background-color: rgb(212, 79, 101);
  color: #fff;
  border: none;
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
}
